.sg-layout__container{background-color:#000!important;}
.sg-label--indigo-20 {background-color: #000000!important;}
body{background:#000!important;border: none!important;}
.sg-text{color:#fff!important;}
.sg-headline{color:#fff!important;}
.brn-challenge-confetti__container:before,.brn-challenge-confetti__container:after{background: none!important;}
.brn-answers-per-day__container{background-color: #000000;}
.UserMenuBubble__bubble--151LI {background: #000;}
.sg-button--transparent{color:#fff;}
.brn-subject-list__subject--active{background-color: #000;}
.Header-module__header--1fyGw, .Header-module__innerwrap--2PyoE{background-color: #000!important;}
.Header-module__subnav--1o8Ox{background: #000!important;border: none!important;}
.sg-box--border-color-gray-20{    border-color: transparent;}
.FooterLayout-module__footer--jB_Pv{background-color: #000!important;}
.Legal-module__headline--2r_YA, .Legal-module__section--3XEx9{color:#fff;}
.brn-qpage-layout{background-color: #000!important;}
.NewestQuestions-module__block--3anPq{background-color: #000!important;}
.brn-qpage-next-answer-box{background-color: #000!important;}
.sg-box--gray-10{background-color: #000!important;}
.QuestionBoxLayout-module__box--3D9pn{background-color: #000!important;}
.brn-answer-editor-layer{background-color: #000!important;}
.TextEditor__editor--14ZAy{background-color: #000!important;}
b, strong{color:#fff;}
.TextEditor__editorBox--1QkjX{background-color: #000!important;}
.TextEditor__editorBox--1QkjX:active{background-color: #000!important;}
.DefaultElement__paragraph--1Rxk9{color:#fff;}
.sg-icon:active{background-color: #000!important;}
.sg-icon--icon-black{color:#fff;}
.sg-icon--adaptive,.sg-select--selected .sg-select__element, .sg-select--valid .sg-select__element, .sg-select--invalid .sg-select__element{color:#fff!important;}
.GameBoxStatItem-module__label--SsXVy,.section--KhXv2,.header--1kAS3:before,.header--1kAS3,.section--3TnrW{background-color: #000!important;}
.sg-label--yellow-20{background-color: #000!important;}
.sg-header__container{background-color: #000!important;}
.sg-button--solid-light{background-color: #000!important;}
#icon-points{color: #000;}
.brn-box--with-opacity:after{background: none!important;}
::-webkit-scrollbar-track {background: #000!important; }
::-webkit-scrollbar-thumb {background: #fff!important; }
::-webkit-scrollbar-thumb:hover{background: #fff!important; }
.sg-bubble--white{background-color: #000!important;}
.sg-input,.sg-counter--with-icon,.brn-header-placeholder,.sg-select__element{background-color: #000!important;}
.GameBoxProgressBar-module__container--3ukwx{visibility: hidden;}
.LookingForMoreBanner-module__banner--3di25{    background-color: #000;}
.sg-button--outline{color: #fff!important;}
.TextbooksOptionsListItem-module__optionButton--zga5z{background-color: #000!important;}
.sg-toplayer{background-color: #000;}
.sg-box--white{background-color: #000!important;}
.AnswerBoxLayout-module__box--2yed7{background-color: #000!important;}
.GameBoxLink-module__container--IS_la:hover{background-color: #000!important;}
.sg-textarea{background-color: #000!important;}
.sg-button--solid-inverted{background-color: #ffffff0d; color: #fff;}
.brn-challenges-tracking__bar{background-color: #ffffff1a;}